src/main/resources/furtherStuff/JDF20-minimal.xsd.old

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.CIP4.org/JDFSchema_1_1"
	xmlns="http://www.CIP4.org/JDFSchema_1_1" xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:simpleType name="ID">
		<xs:restriction base="xs:ID" />
	</xs:simpleType>
	<xs:simpleType name="NMTOKEN">
		<xs:restriction base="xs:NMTOKEN" />
	</xs:simpleType>
	<xs:simpleType name="string">
		<xs:restriction base="xs:string" />
	</xs:simpleType>
	<xs:simpleType name="integer">
		<xs:restriction base="xs:integer" />
	</xs:simpleType>

	<xs:element name="GeneralID">
		<xs:complexType>
			<xs:attribute name="IDValue" type="string" use="optional" />
			<xs:attribute name="DataType" use="optional" />
			<xs:attribute name="IDUsage" type="NMTOKEN" use="optional" />
		</xs:complexType>
	</xs:element>

	<xs:element name="Comment">
		<xs:complexType>
			<xs:attribute name="Attribute" type="NMTOKEN" use="optional" />
			<xs:attribute name="ID" type="ID" use="optional" />
			<xs:attribute name="Name" type="NMTOKEN" use="optional" />
			<xs:attribute name="Author" type="string" use="optional" />
			<xs:attribute name="AgentName" type="string" use="optional" />
			<xs:attribute name="AgentVersion" type="string" use="optional" />
		</xs:complexType>
	</xs:element>

	<xs:element name="ParameterSet">
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:element minOccurs="0" maxOccurs="unbounded" ref="Parameter" />
					<xs:element minOccurs="0" maxOccurs="unbounded" ref="GeneralID" />
					<xs:element minOccurs="0" maxOccurs="unbounded" ref="Comment" />
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="ID" type="ID" use="required" />
			<xs:attribute name="DescriptiveName" type="string" use="optional" />
			<xs:attribute name="Name" type="NMTOKEN" use="required" />
			<xs:attribute name="Usage" use="optional" />
			<xs:attribute name="ProcessUsage" type="NMTOKEN" use="optional" />
		</xs:complexType>
	</xs:element>

	<xs:element name="Parameter">
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:element minOccurs="0" maxOccurs="unbounded" ref="ParameterType" />
					<xs:element minOccurs="0" maxOccurs="unbounded" ref="GeneralID" />
					<xs:element minOccurs="0" maxOccurs="unbounded" ref="Comment" />
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="Class" use="optional" />
			<xs:attribute name="PipeProtocol" type="NMTOKEN" use="optional" />
			<xs:attribute name="PipeID" type="string" use="optional" />
			<xs:attribute name="AgentName" type="string" use="optional" />
			<xs:attribute name="AgentVersion" type="string" use="optional" />
			<xs:attribute name="ID" type="ID" use="required" />
			<xs:attribute name="PartUsage" use="optional" />
			<xs:attribute name="ProductID" type="string" use="optional" />
			<xs:attribute name="Author" type="string" use="optional" />
			<xs:attribute name="DescriptiveName" type="string" use="optional" />
		</xs:complexType>
	</xs:element>

	<xs:element name="XJDF">
		<xs:complexType>
			<xs:choice>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="GeneralID" />
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="Comment" />
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="ParameterSet" />
			</xs:choice>

			<xs:attribute name="ID" type="ID" use="required" />
			<xs:attribute name="DescriptiveName" type="string" use="optional" />
			<xs:attribute name="JobID" type="string" use="optional" />
			<xs:attribute name="Category" type="NMTOKEN" use="optional" />
			<xs:attribute name="RelatedJobPartID" type="string" use="optional" />
			<xs:attribute name="ProjectID" type="string" use="optional" />
			<xs:attribute name="Version" use="required" />
			<xs:attribute name="JobPartID" type="string" use="optional" />
			<xs:attribute name="TemplateVersion" type="string" use="optional" />
			<xs:attribute name="TemplateID" type="string" use="optional" />
			<xs:attribute name="RelatedJobID" type="string" use="optional" />
			<xs:attribute name="Activation" use="optional" />
		</xs:complexType>
	</xs:element>

	<xs:element abstract="true" name="ParameterType" type="ParameterType" />
	<xs:complexType name="ParameterType" />


	<xs:element name="RunList" substitutionGroup="ParameterType" type="RunList" />
	<xs:complexType name="RunList">
		<xs:complexContent>
			<xs:extension base="ParameterType">
				<xs:attribute name="SetCopies" type="integer" use="optional" />
				<xs:attribute name="SheetSides" use="optional" />
				<xs:attribute name="LogicalPage" type="integer" use="optional" />
				<xs:attribute name="NPage" type="integer" use="optional" />
				<xs:attribute name="PageCopies" type="integer" use="optional" />
				<xs:attribute name="FirstPage" type="integer" use="optional" />
				<xs:attribute name="SkipPage" type="integer" use="optional" />
				<xs:attribute name="RunTag" type="NMTOKEN" use="optional" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="SeparationControlParams" substitutionGroup="ParameterType" type="SeparationControlParams" />
	<xs:complexType name="SeparationControlParams">
		<xs:complexContent>
			<xs:extension base="ParameterType">
				<xs:attribute name="AutomatedOverPrintParamsRef" type="integer"
					use="optional" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
</xs:schema>